.modal-header{

    background-color: #3D3935;
    color: #fff;

}
.modal-body{

    background-color: #f5f5f5;
    margin: 25px;

}

.fa-triangle-exclamation  {
    height: 5em;
    color: #FF6565;
}

.btn-cls-cus {
 
        background: #3D3935;
        border: none;
        color: #fff;
        font-size: 20px;
   
}